{% extends "base_coacha.html"%}

{% block body%}
	<div class="jumbotron">
		<h1>
			欢迎来到Coacha！
		</h1>
		<p>
			你要去哪？
		<span class="glyphicon glyphicon-hand-right"></span>
		</p>
		<ul>
			<li><a href="infoma" class="btn btn-primary btn-lg active" role="button"><abbr title="龙泉中学07届信息收集">Infoma<span class="glyphicon glyphicon-chevron-right"></span></abbr></a></li>
			<br>
			<li><a href="wow" class="btn btn-primary btn-lg active" role="button"><abbr title="不知道咧公会签到">WOW<span class="glyphicon glyphicon-chevron-right"></span></abbr></a></li>
		</ul>
	</div> 
{% endblock %}